.code {
    font-family: "JetBrains Mono", serif;
    font-size: 14pt;
    font-optical-sizing: auto;
    font-style: normal;
    color: #555;
}
.flex-container {
    display:flex;
    flex-wrap: wrap;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    width: 100%;
    height: 100vh;
}
@media screen and (min-width: 1700px) {
    .grid-container {
        grid-template-columns: 2fr 2fr 1fr;
    }
    .grid-container > div:last-of-type {
        grid-column: 1 / -1;
    }
}
.grid-item {
    width: 100%;
    height: 100%
}
.section {
    padding: 10pt;
    background-color: #d4d4d4;
    outline: 2px solid black;
    overflow: auto;
}
.memLocation {
    color: #222;
    font-weight: 200;
    font-style: italic;
}
.memContents {
    color: #351700;
    font-weight: 600;
}
.memOp {
    font-weight: 100;
    color: #393939;
}
.logcontainer {
    line-height: 15pt;
}
.err {
    color: rgb(192, 45, 19);
    font-weight: 600;
}
.warning {
    color:  rgb(179 125 0);
    font-weight: 400;
    font-style: italic;
}
.log {
    font-style: italic;
    font-weight: 200;
}
.lineNum {
    color:rgb(132, 132, 132);
    font-weight: 400;
    text-decoration: dotted underline;
    cursor: pointer;
}
.highlightedMemLine {
    background-color: #b9b9b9;
}
input[type="file"] {
    display: none;
}
.fileInputLabel {
    background-color: #4987cd;
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 13px;
    font-family: sans-serif;
    padding: 3px 5px;
    margin: 3px;
}
.editor {
    width: 100%;
    height: 100%;
    font-size: 13pt;
    font-family: "JetBrains Mono", serif;
}
.editor-container {
    padding: 0;
}
.status-good {
    color: #34cf82
}
.status-warning {
    color: #e2a83c
}
.status-err {
    color: rgb(192, 45, 19)
}

html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
    margin: 0;
    padding: 0;
}

table, th, td {
    border: 1px solid rgb(29, 29, 28);
    border-collapse: collapse;
    padding: 3pt;
    color: black;
    align-content: start;
}
.invisibleTable {
    border: none
}
.invisibleTable tbody tr td {
    border: none;
    padding: 1px;
}

body {
    font-family: "Host Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

p {
    font-size: 14pt;
    margin-top: 2pt;
}

table {
    font-size: 14pt;
}

h2 {
    font-weight: 800;
    font-size: 20pt;
    color: #4987cd;
    margin: 2pt 0 2pt 0;
    position: sticky;
    top: 0;
    background-color: inherit;
}

button {
    background-color: #4987cd;
    color: white;
    border: none;
    border-radius: 3px;
}